--
-- PostgreSQL database dump
--

\restrict hW27MtXM7NDGr6KNZGENBs5ILkcxzQbdO116XJQbKDtn2bebHTCemjJ4SdeVELy

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO teamfinder_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO teamfinder_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO teamfinder_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO teamfinder_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO teamfinder_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO teamfinder_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO teamfinder_user;

--
-- Name: projects_project; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.projects_project (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    github_url character varying(200) NOT NULL,
    status character varying(6) NOT NULL,
    owner_id bigint NOT NULL
);


ALTER TABLE public.projects_project OWNER TO teamfinder_user;

--
-- Name: projects_project_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.projects_project ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_project_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: projects_project_participants; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.projects_project_participants (
    id bigint NOT NULL,
    project_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.projects_project_participants OWNER TO teamfinder_user;

--
-- Name: projects_project_participants_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.projects_project_participants ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_project_participants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: projects_project_skills; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.projects_project_skills (
    id bigint NOT NULL,
    project_id bigint NOT NULL,
    skill_id bigint NOT NULL
);


ALTER TABLE public.projects_project_skills OWNER TO teamfinder_user;

--
-- Name: projects_project_skills_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.projects_project_skills ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_project_skills_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: projects_skill; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.projects_skill (
    id bigint NOT NULL,
    name character varying(124) NOT NULL
);


ALTER TABLE public.projects_skill OWNER TO teamfinder_user;

--
-- Name: projects_skill_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.projects_skill ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_skill_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    email character varying(254) NOT NULL,
    avatar character varying(100) NOT NULL,
    phone character varying(20) NOT NULL,
    github_url character varying(200) NOT NULL,
    about character varying(256) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    first_name character varying(124) NOT NULL,
    last_name character varying(124) NOT NULL
);


ALTER TABLE public.users_user OWNER TO teamfinder_user;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO teamfinder_user;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: teamfinder_user
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO teamfinder_user;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: teamfinder_user
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	users	user
7	projects	skill
8	projects	project
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
4bx948g144vhyxugb4mlss7dzpiejk6z	.eJxVjDsOwyAQRO9CHaHla0iZ3mdAwK6DkwhLxq6i3D1GcpFMN_Oe5s1C3LcS9kZrmJFdmWCX3y3F_KTaAT5ivS88L3Vb58S7wk_a-LggvW6n-3dQYiv9Fo-ARJW99RO4gRwkAegNKUBDYCF6rZU-OhmK4CypSTkhjc9SDezzBd-9N0I:1wP5MM:xg8986x4hZqATM2hnFsJdO8b7UzrAenHUQYViUWcVTU	2026-06-01 21:18:46.752037+00
\.


--
-- Data for Name: projects_project; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--

COPY public.projects_project (id, name, description, created_at, github_url, status, owner_id) FROM stdin;
1	MindSpace	╨Я╨╗╨░╤В╤Д╨╛╤А╨╝╨░ ╨┤╨╗╤П mental health ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨║╨╕	2026-05-18 21:17:11.684343+00		open	1
2	╨Ф╨╕╨╖╨░╨╣╨╜-╤Б╨╕╤Б╤В╨╡╨╝╨░	UI Kit ╨┤╨╗╤П EdTech ╨┐╨╗╨░╤В╤Д╨╛╤А╨╝╤Л	2026-05-18 21:17:11.709034+00		open	2
3	API ╨┤╨╗╤П MentorHub	Backend ╨╜╨░ Django REST Framework	2026-05-18 21:17:11.727358+00		open	3
4	HabitFlow	╨в╤А╨╡╨║╨╡╤А ╨┐╤А╨╕╨▓╤Л╤З╨╡╨║ ╨╜╨░ React	2026-05-18 21:17:11.742144+00		open	4
\.


--
-- Data for Name: projects_project_participants; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--

COPY public.projects_project_participants (id, project_id, user_id) FROM stdin;
1	1	1
2	2	2
3	3	3
4	4	4
\.


--
-- Data for Name: projects_project_skills; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--

COPY public.projects_project_skills (id, project_id, skill_id) FROM stdin;
1	1	1
2	1	2
3	2	4
4	3	1
5	3	2
6	4	3
\.


--
-- Data for Name: projects_skill; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--

COPY public.projects_skill (id, name) FROM stdin;
1	Python
2	Django
3	React
4	Figma
5	Docker
6	Product Management
\.


--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--



--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: teamfinder_user
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 32, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 15, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 8, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 21, true);


--
-- Name: projects_project_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.projects_project_id_seq', 5, true);


--
-- Name: projects_project_participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.projects_project_participants_id_seq', 5, true);


--
-- Name: projects_project_skills_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.projects_project_skills_id_seq', 6, true);


--
-- Name: projects_skill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.projects_skill_id_seq', 6, true);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.users_user_id_seq', 5, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: teamfinder_user
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: projects_project_participants projects_project_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_project_participants
    ADD CONSTRAINT projects_project_participants_pkey PRIMARY KEY (id);


--
-- Name: projects_project_participants projects_project_participants_project_id_user_id_64171833_uniq; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_project_participants
    ADD CONSTRAINT projects_project_participants_project_id_user_id_64171833_uniq UNIQUE (project_id, user_id);


--
-- Name: projects_project projects_project_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_project
    ADD CONSTRAINT projects_project_pkey PRIMARY KEY (id);


--
-- Name: projects_project_skills projects_project_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_project_skills
    ADD CONSTRAINT projects_project_skills_pkey PRIMARY KEY (id);


--
-- Name: projects_project_skills projects_project_skills_project_id_skill_id_8f3bb086_uniq; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_project_skills
    ADD CONSTRAINT projects_project_skills_project_id_skill_id_8f3bb086_uniq UNIQUE (project_id, skill_id);


--
-- Name: projects_skill projects_skill_name_key; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_skill
    ADD CONSTRAINT projects_skill_name_key UNIQUE (name);


--
-- Name: projects_skill projects_skill_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_skill
    ADD CONSTRAINT projects_skill_pkey PRIMARY KEY (id);


--
-- Name: users_user users_user_email_key; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_email_key UNIQUE (email);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: projects_project_owner_id_b940de39; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX projects_project_owner_id_b940de39 ON public.projects_project USING btree (owner_id);


--
-- Name: projects_project_participants_project_id_977bbd69; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX projects_project_participants_project_id_977bbd69 ON public.projects_project_participants USING btree (project_id);


--
-- Name: projects_project_participants_user_id_5905fe7e; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX projects_project_participants_user_id_5905fe7e ON public.projects_project_participants USING btree (user_id);


--
-- Name: projects_project_skills_project_id_f72fc0fe; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX projects_project_skills_project_id_f72fc0fe ON public.projects_project_skills USING btree (project_id);


--
-- Name: projects_project_skills_skill_id_69311f1e; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX projects_project_skills_skill_id_69311f1e ON public.projects_project_skills USING btree (skill_id);


--
-- Name: projects_skill_name_e80ac73f_like; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX projects_skill_name_e80ac73f_like ON public.projects_skill USING btree (name varchar_pattern_ops);


--
-- Name: users_user_email_243f6e77_like; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX users_user_email_243f6e77_like ON public.users_user USING btree (email varchar_pattern_ops);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: teamfinder_user
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_project projects_project_owner_id_b940de39_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_project
    ADD CONSTRAINT projects_project_owner_id_b940de39_fk_users_user_id FOREIGN KEY (owner_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_project_participants projects_project_par_project_id_977bbd69_fk_projects_; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_project_participants
    ADD CONSTRAINT projects_project_par_project_id_977bbd69_fk_projects_ FOREIGN KEY (project_id) REFERENCES public.projects_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_project_participants projects_project_participants_user_id_5905fe7e_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_project_participants
    ADD CONSTRAINT projects_project_participants_user_id_5905fe7e_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_project_skills projects_project_ski_project_id_f72fc0fe_fk_projects_; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_project_skills
    ADD CONSTRAINT projects_project_ski_project_id_f72fc0fe_fk_projects_ FOREIGN KEY (project_id) REFERENCES public.projects_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_project_skills projects_project_skills_skill_id_69311f1e_fk_projects_skill_id; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.projects_project_skills
    ADD CONSTRAINT projects_project_skills_skill_id_69311f1e_fk_projects_skill_id FOREIGN KEY (skill_id) REFERENCES public.projects_skill(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: teamfinder_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict hW27MtXM7NDGr6KNZGENBs5ILkcxzQbdO116XJQbKDtn2bebHTCemjJ4SdeVELy

